[2016-03-11 11:38] davidlday opened #1 "Timezone being accounted for twice"
The pending.sh script accounts for timezone offset. Then, the JavaScript Date() object also uses the system to adjust a new time for timezone offset, making the date/time shown incorrect.

[2016-03-11 11:43] davidlday commented on #1
Timezone adjustment removed from pending.sh.

[2016-03-11 11:43] #1 closed

[2016-10-18 02:41] greatoe opened #2 "showLists"
hi developer,

I can not find the 'showLists' line to choose which list to show.

Any help please?

[2016-10-18 09:16] davidlday commented on #2
Hi - It's found on line 8 of reminders.coffee: https://github.com/davidlday/RemindersWidget/blob/master/reminders.widget/reminders.coffee

Perhaps you need to download the latest?

[2016-10-18 09:16] #2 closed

[2017-02-21 23:08] illuminati945 opened #3 "Help"
![screen shot 2017-02-22 at 10 06 56 am](https://cloud.githubusercontent.com/assets/20105326/23189405/e11dfeda-f8e6-11e6-91da-ea49445e34b9.png)

What Do i do?

[2017-02-22 00:01] davidlday commented on #3
Has this worked previously and just now stopped, or is this the first time you've set this up?

Also, can you run a little test for me? Open a terminal, and run the following:

`
sqlite3 $HOME/Library/Calendars/Calendar\ Cache "SELECT name FROM sqlite_master WHERE name IN ('ZICSELEMENT','ZCALENDARITEM')"
`

You should get back either 'ZCALENDARITEM' or 'ZICSELEMENT'. If you get the same error, tha

[2017-02-22 00:44] illuminati945 commented on #3
It has never worked.
This is the error:
"Error: unable to open database "/Users/levy": unable to open database file"
I think it might be because my username has two parts two it?

[2017-02-22 16:31] davidlday commented on #3
Good call - I didn't account for the possibility of spaces in $HOME. I'll have a look this evening, but should be an easy fix.

[2017-02-22 19:37] illuminati945 commented on #3
Sweet, tell me what you come up with

[2017-02-23 01:25] davidlday commented on #3
I've committed and pushed the fix here. I don't know how long before Ubersicht picks up the change, but you can download reminders.widget.zip from this repo directly and test it out. I'll leave the issue open for now, but if I don't hear back from you by next Monday I'll consider it fixed and close the issue. Best of luck, and thanks for bringing this to my attention!

- D

[2017-02-23 05:58] illuminati945 commented on #3
I downloaded it directly from github, and when i put it in my widgets
folder nothing shows. It is like it was before i ever put the widget in.
well, at least theres no error :)

On Thu, Feb 23, 2017 at 12:25 PM, David L. Day <notifications@github.com>
wrote:

[2017-02-24 02:48] davidlday commented on #3
Well, shoot. Okay, let me take a look again this weekend and get back to you.

[2017-02-24 06:53] illuminati945 commented on #3
Alright mate

On Fri, Feb 24, 2017 at 1:48 PM, David L. Day <notifications@github.com>
wrote:

[2017-02-25 14:36] davidlday commented on #3
Not having any luck finding anything obvious this time. Once again, can you run the following in the terminal and let me know the output?

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT name FROM sqlite_master WHERE name IN ('ZICSELEMENT','ZCALENDARITEM')"`

D

[2017-02-26 07:56] illuminati945 commented on #3
"ZCALENDARITEM"

On Sun, Feb 26, 2017 at 1:36 AM, David L. Day <notifications@github.com>
wrote:

[2017-02-26 21:11] davidlday commented on #3
Okay - Another one for you to run, pls. This should bring back all tasks:

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT zduedate,
        zpriority,
        rem.ztitle AS title,
        cal.ztitle AS list,
        rem.znotes AS notes
FROM zcalendaritem rem LEFT JOIN znode cal ON rem.zcalendar=cal.z_pk
WHERE rem.z_ent=6
      AND zcompleteddate IS NULL
      ORDER BY CASE

[2017-02-27 04:25] illuminati945 commented on #3
"|0|English Due|School Work|"

On Mon, Feb 27, 2017 at 8:11 AM, David L. Day <notifications@github.com>
wrote:

[2017-02-28 00:45] davidlday commented on #3
Okay, that's working. One last test, please.

Can you go to the widgets directory in a terminal and execute:

`cd "$HOME/Library/Application Support/Übersicht/widgets/reminders.widget"`
`./pending.sh`

You should get the same back as json. If that works, then I'm gonna put this on hold to merge in the PR I have open, as the problem may likely lie in the reminders.coffee script.

[2017-02-28 08:12] illuminati945 commented on #3
"

{ "tasks": [ { "dueDate":  " ", "priority":  "0", "title":  "Mrs cook has
my USB. Black, 16gb", "list":  "To Do/Buy", "notes":  " ", "secondsLeft":
" " },{ "dueDate":  " ", "priority":  "0", "title":  "English Due",
"list":  "School Work", "notes":  " ", "secondsLeft":  " " } ], "lists":
["To Do/Buy","Owe others","Owe me","Family","School Work"] }"

Looks like the commands are working, however

[2017-03-01 14:41] chrisvanklutter opened #5 "No Widget Displayed"
Hi!

I've just recently downloaded Ubersicht and later on your widget. The Ubersicht app itselfs seems to work however I can't make your widget visible... I is listed as a widget but there is nothing on my Desktop.

[2017-03-01 23:39] davidlday commented on #5
Hi! - Thanks for pointing this out. I think this is a duplicate of another open issue. Working on a fix now. I'll have a zip file soon for you to test out.

[2017-03-01 23:52] davidlday commented on #3
Can you open the Ubersicht debug console and tell me if you're seeing this:

`TypeError: undefined is not an object (evaluating 'res.txt')`

or something similar?

[2017-03-01 23:52] davidlday commented on #5
Can you open the Ubersicht debug console and tell me if you're seeing this:

`TypeError: undefined is not an object (evaluating 'res.txt')`

or something similar?

[2017-03-02 00:16] davidlday commented on #3
Okay, I think I have it fixed. Can you try the zip before I push?
[reminders.widget.zip](https://github.com/davidlday/RemindersWidget/files/812388/reminders.widget.zip)

[2017-03-02 00:17] davidlday commented on #5
Can you try this version before I push? Should be fixed now.
[reminders.widget.zip](https://github.com/davidlday/RemindersWidget/files/812390/reminders.widget.zip)

[2017-03-02 03:53] illuminati945 commented on #3
There is nothing in the console, and it still doesnt show anything

On Thu, Mar 2, 2017 at 11:16 AM, David L. Day <notifications@github.com>
wrote:

[2017-03-02 07:10] chrisvanklutter commented on #5
Sorry I'm in a different time zone so that's why I didn't answer.
I checked the debugger there was nothing displayed.
I tried your zip-file but it didn't show up aswell.

[2017-03-02 11:36] davidlday commented on #3
I was able to recreate the problem (finally) by redeploying the widget several times with Übersicht still running. I think this relates to [Issue 24](https://github.com/felixhageloh/uebersicht/issues/24) of Übersicht, which is still open.

Clear the widget from the cache - the order is important:

1. Shut down Übersicht.
2. Delete `reminders.widget` from Übersicht's widget directory (`$HOME/Librar

[2017-03-02 22:24] illuminati945 commented on #3
Still nothing. You reckon it might be a problem with my computer?

On Thu, Mar 2, 2017 at 10:36 PM, David L. Day <notifications@github.com>
wrote:

[2017-03-02 23:18] davidlday commented on #3
I have a second person experiencing this problem as well. Let me have them take a run at the fix I offered and see if they have any luck.

I'd hesitate to say there's something wrong with your computer at this point. Do you have other widgets working?

[2017-03-02 23:22] davidlday commented on #5
No worries. I didn't really expect an immediate response :)

Can you do me a favor and try the fix I listed in Issue #3 around clearing Ubersicht's cache? Please be sure to download the version from there.

[2017-03-03 00:35] illuminati945 commented on #3
All my other widgets are working perfectly

On Fri, Mar 3, 2017 at 10:18 AM, David L. Day <notifications@github.com>
wrote:

[2017-03-04 07:35] chrisvanklutter commented on #3
Hi there, I was finally able to do as you asked me to and delete caches etc. but it still doesn't appear to be working.

[2017-03-04 16:49] davidlday commented on #3
@illuminati945 and @chrisvanklutter - Thank you both for trying. Let's dig a little deeper. I have a MacBook Air that I haven't installed Ubersicht on yet, so I'm going to try to recreate the problem. Can you both please tell me:

1. OS Version (i.e. I'm at macOS Sierra, Version 10.12.3)
2. Ubersicht Version (Current is 1.0.44)
3. A list of widgets you have installed

I'm going to dig through my s

[2017-03-04 16:55] chrisvanklutter commented on #3
1. macOS Sierra, Version 10.12.3 (16D32)
2. Ubersicht Version, 1.1 (45) (Got updated just after I tried to run you widget)
3. Only the reminder wigdet

[2017-03-04 22:03] illuminati945 commented on #3
1. OSX El Capitan, Version 10.11.6
2. Ubersicht Version 1.1 (45)
3. black-bar, SimpleTime, Background, Playbox, reminders (not working),
ToDo (My Widget :)

On Sun, Mar 5, 2017 at 3:55 AM, chrisvanklutter <notifications@github.com>
wrote:

[2017-03-07 10:44] curdaneta commented on #5
Hi
Same problem here, stop to work on 10.12.4 Beta (16E175b)
The last release didn't work, also no errors/warnings in the Ubersicht debug console

[2017-03-07 12:14] davidlday commented on #5
Thanks, @curdaneta - please see #3 for more details and work in progress.

[2017-03-07 12:15] davidlday commented on #5
At this point, I'm convinced this is a duplicate of #3. Closing out

[2017-03-07 12:15] #5 closed

[2017-03-07 16:09] curdaneta commented on #3
1. macOS Sierra, Version 10.12.4 Beta (16E175b)
2. Ubersicht Version 1.1 (45)
3. batteryDetails, public_ip, reminders (not working), simple-clock

[2017-03-08 23:43] davidlday commented on #3
@curdaneta @chrisvanklutter @illuminati945 - I merged in changes from a PR, and made some additional updates to how styling is handled that may fix this issue. I encountered some pretty strange behavior working through this, and externalizing the style sheets seemed to work. Would you each mind testing out the following version before I commit?

[reminders.widget.zip](https://github.com/davidlday/

[2017-03-08 23:56] davidlday commented on #3
@jordikitto - would you mind testing out the zip file above as well and let me know what you think? I hope you don't mind, I left the original style as the default, but changing it to the sidebar style is a one-liner in the reminders.coffee script.

Thanks!
David

[2017-03-09 00:14] curdaneta commented on #3
@davidlday didn't work for me. Followed the previous steps, quit, clear cache. Also nothing to report on the console

[2017-03-09 01:07] illuminati945 commented on #3
Worked for me! Thank you!

On Thu, Mar 9, 2017 at 11:14 AM, Ciro Urdaneta <notifications@github.com>
wrote:

[2017-03-09 16:29] chrisvanklutter commented on #3
Worked for me as well! Thanks for the quick work

[2017-03-09 16:57] curdaneta commented on #3
@davidlday looks like I missed something or maybe is my beta OS. I'll try again and post my details

[2017-03-09 19:17] davidlday commented on #3
@curdaneta - sounds good. let me know if you have any luck.

[2017-03-09 19:48] curdaneta commented on #3
@davidlday Still not working for me. Tried again without succeed. Also tested running only the Reminders Widget. Looks like could be something related to mac OS 10.12.4 Beta (16E183b)

[2017-03-10 00:43] davidlday commented on #3
@curdaneta - Sorry to hear. Perhaps take a look in Console, and search for errors related to Ubersicht and/or sparkle. I'm going to push the latest changes, close this out, but feel free to open a new issue just for you and we can continue working through it.

[2017-03-10 00:43] #3 closed

[2017-03-10 08:20] jordikitto commented on #3
Everything works great for my David, love it. The easy of changing between styles should allow for some other cool custom designs too!

[2017-03-10 08:22] jordikitto commented on #3
I'm interested in your default design, it is 10px from the top and left? So the widget doesn't sit flush against the screen anywhere, just kind of 'hovers' in the left a bit. What made you choose it to be like that? Also are you still using blur, do you have any issues with it?

[2017-03-10 11:22] curdaneta commented on #3
@davidlday in my case the problem is that the widget doesn't load the reminders. It works, If I use the sidebar.css It renders the CSS, I'm able to change the CSS and works fine but it doesn't load any Reminders.app data

[2017-03-10 11:27] davidlday commented on #3
@jordikitto - the choice to hover 10px from top left makes it align with two other widgets, one lower left (quote-of-day kinda thing) and one lower right (a clock). And yes, for now I left blur alone, but I may refine it later. These latest changes focused on getting the style externalized. I plan to refine the style more, and maybe even make it so that the default style really just shows instruct

[2017-03-10 11:29] davidlday commented on #3
@curdaneta - maybe they've updated the reminders database. Can you run the following, pls:

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT name FROM sqlite_master WHERE name IN ('ZICSELEMENT','ZCALENDARITEM')"`

[2017-03-10 11:52] curdaneta commented on #3
@davidlday  where should I run this command, from a Terminal window in the reminders.coffee?

[2017-03-12 03:05] davidlday commented on #3
@curdaneta - my apologies. Yes, open a Terminal window and run there. Doesn't matter what directory you're in.

[2017-03-12 12:32] curdaneta commented on #3
@davidlday it returns ZCALENDARITEM

[2017-03-12 20:16] davidlday commented on #3
@curdaneta - okay. Another one to try. Same deal, just run in Terminal. Directory doesn't matter:

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT z_ent FROM z_primarykey WHERE z_name = 'Task'"`

Let me know the output, then I'll have one more for you to run. And, I hate to ask, but you do have tasks in at least one Reminders list, correct?

[2017-03-12 23:06] curdaneta commented on #3
Hi @davidlday the command returns   6

[2017-03-14 11:10] davidlday commented on #3
Okay - one more to make sure pending.sh is working:

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT zduedate,
        zpriority AS priority,
        rem.ztitle AS title,
        cal.ztitle AS list,
        rem.znotes AS notes
    FROM ZCALENDARITEM rem LEFT JOIN znode cal ON rem.zcalendar=cal.z_pk
    WHERE rem.z_ent=6
        AND zcompleteddate IS NULL
    ORDER BY CASE WH

[2017-03-14 11:24] curdaneta commented on #3
Done, please check the images

![custom-css](https://cloud.githubusercontent.com/assets/5185821/23898370/4465b5f0-0887-11e7-942c-a192c7fc5df6.png)
![sqlite3-query](https://cloud.githubusercontent.com/assets/5185821/23898371/446d40a4-0887-11e7-8dd9-7b556cddd5b5.png)

[2017-03-14 20:32] davidlday commented on #3
@curdaneta Would you mind trying with both the default.css and sidebar.css as well and post screenshots of results. And would you mind attaching the custom CSS as a file (not just a screenshot)? You'll need to zip it up or change the extension to .txt. I adjusted my css to try and match what I see in the screenshot, but not sure I got it entirely.

[2017-03-15 03:40] jordikitto commented on #3
Not that I'm a pro or anything at this. David seems to have a much better idea of how the .sh file works. I see you've got a lot of stuff running? Have you tried running Ubersicht and the Reminders widget only?

It seems to be only on the 10.12.4 beta that people are experiencing this issue. On 10.12.3 and I have no issues, especially with the sidebar on the right. Was it working before 10.12.4?

[2017-03-15 19:23] curdaneta commented on #3
@jordikitto Yes, it was working perfect before 10.12.4

[2017-03-16 01:03] davidlday commented on #3
@curdaneta - just wanted to confirm the css was fine as well. I figured it was. One more thing to try before I think we have to contribute it to being on 10.12.4 beta. Can you run this from the Terminal and post results, please:

`cd "$HOME/Library/Application Support/Übersicht/widgets/reminders.widget"`
`./pending.sh`

[2017-03-16 01:33] curdaneta commented on #3
@davidlday this is the output code

`{ "tasks": [ { "dueDate":  "2017-03-13T18:00:00", "priority":  "0", "title":  "Ajustes web ABRA", "list":  "To Do List", "notes":  " ", "secondsLeft":  "-199911" },{ "dueDate":  "2017-03-16T11:15:00", "priority":  "1", "title":  "Torta Fernando", "list":  "To Do List", "notes":  " ", "secondsLeft":  "34989" },{ "dueDate":  "2017-03-16T12:00:00", "priority":  "1

[2017-03-16 21:28] davidlday commented on #3
@curdaneta & @jordikitto - Interesting. I think I see it now. While the query in pending.sh is pulling the data back correctly, the script isn't populating the "lists" element in the json. I'll have to dig in, but I think we've narrowed this down. CSS is fine, querying the Reminders database looks fine, script isn't constructing the json correctly. I'll dig in over the next day or so.

[2017-03-16 21:33] davidlday commented on #3
I spoke too soon. @curdaneta - One last command to run. I overlooked this part. It pulls back the list names:

`sqlite3 "file:$HOME/Library/Calendars/Calendar Cache?mode=ro" "SELECT ztitle FROM znode WHERE z_ent=42 AND zistaskcontainer=1"`

Let me know the output. I suspect it'll be empty, and I need to do better at abstracting out those magic numbers (42 & 1).

[2017-03-16 21:48] curdaneta commented on #3
You were right @davidlday it returns nothing, empty, nada!

[2017-03-17 00:31] davidlday commented on #3
@curdaneta - Excellent (sorta)! I'll take a look at updating. Will need your help in running some tests.

[2017-03-17 00:46] curdaneta commented on #3
@davidlday cool, I'll be waiting to run the test

[2017-03-17 00:53] davidlday commented on #3
Okay - got a fix in, pretty simple change. Can you try the attached version, pls?
[reminders.widget.hotfix.zip](https://github.com/davidlday/RemindersWidget/files/849381/reminders.widget.hotfix.zip)

[2017-03-17 01:13] curdaneta commented on #3
@davidlday You did it, works like a charm! Thanks for all your support!

![screen shot 2017-03-16 at 9 13 14 pm](https://cloud.githubusercontent.com/assets/5185821/24024913/61d56704-0a8d-11e7-9df9-a58dcaa9b771.png)

[2017-03-18 16:28] davidlday commented on #3
@curdaneta - You're quite welcome. And thank you for working through the issue with me!

[2018-11-27 15:18] roadglide03 opened #8 "Relocate position?"
Love the app but I need to reposition it.  Tried the normal way but dent work since there is a default style.  Is there a way to add something like:

    top: 1%
    left: 70%

Thanks Andy

[2018-12-01 19:31] davidlday commented on #8
Hey! Apologies for not getting back to you sooner. I should have an answer for you shortly. The widget's designed to allow you to make your own custom theme that would let you do this, but I haven't written instructions for how to do so yet.

[2018-12-01 20:07] davidlday commented on #8
Okay - Let me know if this works. I'm assuming you've set up the widget in `~/Library/Application Support/Übersicht/widgets/reminders.widget` and just refer to it as `reminders.widget`.

1. Open `reminders.widget/reminders.coffee` in your favorite text editor.
1. Change line 7 from `theme: 'default'` to `theme: 'custom'`, save, and close.
1. Copy `reminders.widget/styles/default.css` (or `reminder

[2018-12-04 12:12] roadglide03 commented on #8
Crap I missed that completely, sorry about that its so obvious, thanks got it the way I like, Andy

[2018-12-04 21:44] davidlday commented on #8
@roadglide03 - no worries! Let me know if you run into any other problems.

[2018-12-04 21:44] #8 closed

[2018-12-28 07:44] yunnant opened #9 "error: unable to open datebase"
1. macOS Mojave, Version 10.14.2
2. Ubersicht Version 1.3
3. top-cpu, netstat, simple-clock, weather, reminders (not working)

Hi, can you help me with this issue, it says "Error: unable to open database "/Users/yunnantao/Library/Calendars/Calendar Cache?mode=ro": unable to open database file"

[2018-12-31 15:20] davidlday commented on #9
Is this a new install / setup, or was this working on Sierra and stopped working on an upgrade to Mojave?

My first guess is that you haven't used the macOS Reminders app or Calendar and so the Calendar Cache doesn't exist yet. But it may also be a security issue. Can you confirm the file is there by:

1. open your favorite terminal
1. `cd /Users/yunnantao/Library/Calendars/`
1. `ls -al`
1. confir

[2018-12-31 15:33] yunnant commented on #9
Yes, it is a new install.
And I have used it, I guess this is the cache.
<img width="584" alt="2018-12-31 10 30 40" src="https://user-images.githubusercontent.com/10345996/50563019-7451b000-0ce7-11e9-993e-cdce3cb73761.png">

[2019-01-03 11:40] davidlday commented on #9
I had similar issues under issue #3 but I think this is a problem with permission. Can you please run the following in the terminal. Please let me know if you get a security prompt and what, if any, results come back:

[code]

[2019-01-03 17:50] yunnant commented on #9
Yes, there is a prompt. And I have added the permission to ubersicht and it works.
Thank you and Happy New Year!

[2019-01-04 01:02] davidlday commented on #9
You're welcome! Happy New Year to you, too!

[2019-01-21 14:52] davidlday commented on #9
I believe this is corrected by granting Ubersicht access to your Calendars under "Security & Privacy" in "System Preferences":

![image](https://user-images.githubusercontent.com/1132144/51481230-5cf36900-1d61-11e9-9112-b631c22250e9.png)

Go to "System Preferences" -> "Security & Privacy" and select "Calendar" on the left. Then in Finder got to "Applications", select the Ubersicht app, and drag it

[2019-01-22 09:36] oc777 commented on #9
Ubersicht doesn't request access to Calendars by itself and I can't add it myself.
I've granted Ubersicht a Full Disk Access and the error disappeared, but the widget is not showing up.
Tried deleting caches and reinstalling the widget to no avail.

[2019-01-23 04:55] davidlday commented on #9
Hmmm - you should be able to find Ubersicht in your "Applications" folder and just drag it into the "Allow the apps below to access your calendars." But, I haven't tested this out. I don't think Ubersicht will request access because it's one of my underlying scripts that needs access. When I experienced this, I was testing the underlying script in the Terminal, received a pop up, and granted the s

[2019-01-23 09:21] oc777 commented on #9
When I ran the sqlite command, it was the Terminal app that asked for permission, not Ubersicht.
Dragging and dropping Ubersicht app to Calendars permissions window in System Preferences is not working. I was looking for a solution on how to grant permissions to a specific app without it explicitly requesting it, and it looks like the only thing you can do is to grant it Full Disk Access. Which I

[2019-01-23 19:31] yunnant commented on #9
I gave Ubersicht the whole access to the disk, maybe you can try it.

[2019-01-23 19:32] yunnant commented on #9
I gave Ubersicht the whole access to the disk, maybe you can try it.

[2019-01-23 23:59] davidlday commented on #9
The only place I have Ubersicht is in the Calendars setting, and I verified if I disable there, my widget breaks. When I re-enable it, my widget works. I do not have Ubersicht in "Full Disk Access".

@oc777 I hate to ask, but do you have any items in your Reminders lists? And can you please run this SQL in Terminal:

[code]

This should give a list of all reminders you have. Please post the output

[2019-01-24 07:19] oc777 commented on #9
Yes :) I have a whole bunch of tasks.
And the query you provided returns them all.

[2019-01-26 01:14] davidlday commented on #9
Okay - so this may be broken after all since that last query is returning nothing. Unfortunately, I'm going to be away from my Mac for most of the week, and this will have to wait until probably next Friday. I'll think it over and let you know if I have any other suggestions you can try in the mean time.

[2019-01-26 16:32] oc777 commented on #9
the problem seems to happen because `pending.sh` is returning an empty array of lists `"lists": []`

[2019-02-02 17:36] davidlday commented on #9
Sorry for the delay. I was out of town for a week. I'll poke around today and tomorrow and see if I can verify and fix.

[2019-02-03 20:47] davidlday commented on #9
@oc777 - looks like you're right. I've removed the `z_ent=$CALDAVCALENDAR` qualifier and it still appears to work as expected. I've packaged up the changes and attached the new zip. Please test it out, and if it works for you as well I'll commit the changes. Thank you!

[reminders.widget.zip](https://github.com/davidlday/RemindersWidget/files/2825971/reminders.widget.zip)

[2019-10-07 22:06] curdaneta opened #10 "Catalina compatible?"
Hello

Any chance to point how to use it with mac OS Catalina?
Thanks

[2019-10-08 01:19] davidlday commented on #10
Hi! I haven't upgraded to Catalina yet but plan to do so in the next day or so. I'll dig into soon, but at this point, no, I don't know what changes are needed yet.

[2019-10-08 01:32] curdaneta commented on #10
Great @davidlday take your time

[2019-10-14 09:37] coolajami commented on #10
Same problem here, it seems that Reminders stopped supporting CALDAV in Catalina :/

[2019-10-15 23:00] davidlday commented on #10
Starting to make some notes.

1. Seems Catalina, and the new Reminders, has moved everything out of the old database (`~/Library/Calendars/Calendar Cache`) to a set of 3 (at least for me) new databases under `~/Library/Reminders/`. Will take some work to reverse engineer them.

[2019-10-15 23:20] curdaneta commented on #10
Good to know that you're already working with Catalina @davidlday

[2019-10-15 23:23] monkeemunk commented on #10
I started messing around with the code on my own in an attempt to get it working but got stuck and didn’t have time to keep playing with it — I’m happy to provide the modified .coffee if you’d like

[2019-10-16 00:44] davidlday commented on #10
@monkeemunk - that would be a big help, thank you!

[2019-10-16 03:19] davidlday commented on #10
Friends, I think I have it fixed. If any of you would be willing to test, I'd certainly appreciate it. Backup and replace `pending.sh` in the `reminders.widget` widget folder with the one from the [catalina branch](https://github.com/davidlday/RemindersWidget/blob/catalina/reminders.widget/pending.sh). I've also updated [reminders.widget.zip](https://github.com/davidlday/RemindersWidget/blob/catal

[2019-10-16 03:21] davidlday commented on #9
@oc777 - way late, but is this still a problem? I had to make significant changes for Catalina and want to make sure the problems you were having are addressed as well.

[2019-10-16 08:39] coolajami commented on #10
very good job!
I just tried it in Catalina and it does work. I notice a glitch, it does not recognise the "listsToNotShow" parameter, and if you add a list there, the widget disappears again.

[2019-10-16 11:25] curdaneta commented on #10
Great job @davidlday works like a charm!

[2019-10-16 22:53] davidlday commented on #10
@coolajami  - So I noticed while testing that if I updated the file(s) while Ubersicht was running, I'd get the behavior you described. The widget would disappear. If you haven't already, make sure you close Ubersicht, update the files again, then restart the application. Let me know the results, pls.

[2019-10-17 00:02] davidlday commented on #9
Closing this out as stale. Please reopen if there's still an issue.

[2019-10-17 00:02] #9 closed

[2019-10-17 08:26] coolajami commented on #10
Hi @davidlday
I tried what you suggest and had the same problem again.
However I found a solution:
tha name of each list in the listsToNotShow should go within apostrophes as below:

listsToNotShow:['ListToNotShow1','ListToNotShow2']

that solved it for me.

[2019-10-17 21:49] #10 closed

[2019-12-11 01:58] curdaneta opened #12 "Not working on OS 10.15.2"
Hello

Looks like the last mac OS update 10.15.2 broke the widget.
Regards
Ciro

[2019-12-13 22:20] curdaneta commented on #12
The error in the console

`[Error] reminders-widget-reminders-coffee:
Error: Error: near line 5: database is locked { "tasks": [ ], "lists": [] }
wrapError — client.js:1:778021
(anonymous function) — client.js:1:778345
(anonymous function) — client.js:1:746820
(anonymous function) — client.js:1:744328
(anonymous function) — client.js:1:542055
(anonymous function) — client.js:1:748275
	redraw (clie

[2019-12-14 15:20] davidlday commented on #12
Hey - Just now upgrading to 10.15.2. Will look into it this weekend.

[2019-12-14 19:40] davidlday commented on #12
I think I have it sorted out now. Can you try the attached version? The only file changed is pending.sh if you just want to drop it in over the existing one. Basically, I have to test each of the datastores to find the right one. Using the timestamp was brittle anyhow.

[reminders.widget.zip](https://github.com/davidlday/RemindersWidget/files/3964262/reminders.widget.zip)

[2019-12-14 19:52] curdaneta commented on #12
Great work @davidlday works like a charm!

[2019-12-14 20:03] davidlday opened #14 "Convert to React / JSX"
Coffee Script is still supported, but widgets should now be authored in [JSX](https://github.com/felixhageloh/uebersicht#readme).

[2019-12-14 20:12] curdaneta commented on #12
Hey @davidlday I found a couple of errors in the console

[Error] TypeError: undefined is not an object (evaluating 'settings.refreshFrequency')
	(anonymous function) (reminders-widget-reminders-coffee:19)
	o (reminders-widget-reminders-coffee:1:278)
	r (reminders-widget-reminders-coffee:1:441)
	Global Code (reminders-widget-reminders-coffee:1:469)

[Error] Error: Cannot find module 'reminders-wid

[2019-12-14 22:53] davidlday commented on #12
@curdaneta - I'm not seeing this on my machine, but I'll reopen the issue and look into it.

[2019-12-14 22:57] davidlday commented on #12
@curdaneta - Can verify a couple of things for me, please?

1. Ubersicht is updated to 1.4
2. You've restarted Ubersicht after installing the new version of RemindersWidget

Thank you!

[2019-12-14 23:10] curdaneta commented on #12
Hi @davidlday yes, it's version 1.4 and I restarted the application.
Take a look at the image

<img width="280" alt="Screen Shot 2019-12-14 at 7 09 33 PM" src="https://user-images.githubusercontent.com/5185821/70855691-628bfd00-1ea5-11ea-80a0-601bbe9a81ca.png">

[2019-12-14 23:21] davidlday commented on #12
Hmmm. Can you post the 'reminders.coffee' from the widget directory? I'm suspicious of it based on the first error:

[code]

[2019-12-14 23:26] curdaneta commented on #12
This is the one I'd grab from your last zip, I only changed the CSS variable
`#############################
# Widget Settings
settings =
# Widget theme:
# - default (original)
# - sidebar (sidebar)
  theme: 'sidebar_right'
# Number of tasks to show per list, 0 for all
  tasksPerList: 0
# Whether notes get shown. Either true or false
  showNotes: true
# Lists to hide, or leave empty as [] to show a

[2019-12-14 23:30] curdaneta commented on #12
@davidlday looks like it was caused by the **refreshFrequency** variable

changed '**60s** to '**6000**' and the CPU returned to normal levels

[2019-12-14 23:37] davidlday commented on #12
@curdaneta - That's interesting. Seems to not be a problem on mine, but I think I should change the default back to milliseconds anyhow. Thanks for uncovering this! Leaving this open for now to remind me to update it.

[2020-02-12 02:06] davidlday commented on #12
Fixed in v2.1.1

[2020-02-12 02:06] #12 closed

[2020-11-15 13:59] curdaneta opened #15 "Not working on Big Sur"
Hello David

As expected, Reminders Widget it's not working on Big Sur.
I'm ready to help you make the fixes to make it work again.

Have a nice day

[2020-12-21 12:49] curdaneta commented on #15
Hi David

Do you have an estimated date to start reviewing it?

[2020-12-21 21:37] davidlday commented on #15
My apologies for taking so long. I have the fix available and will merge it in momentarily. I had a "magic number" still in the queries that broke on the update to Big Sur.

[2020-12-21 21:39] davidlday commented on #15
Merged.

[2020-12-21 21:39] #15 closed

[2020-12-21 22:10] curdaneta commented on #15
Thank you David. Worked like a charm!

[2020-12-31 18:23] coolajami commented on #15
Thank you, works just fine!

[2021-01-03 21:43] Bluechroma opened #17 "Reminder Lists Repeating"
Hi, I'm not sure what I may be doing wrong, a newbie here. I have one list (To Do List) that repeats three times and other lists show up that I don't even have any more. Is there a cache for Reminders maybe? If I hide the offending list is hides all three copies. I've tried removing and adding them back, also syncing and unsyncing iCloud but with no changes.
Thanks for any help.

Catalina 10.15.7

[2021-01-05 14:13] davidlday commented on #17
@Bluechroma - I don't know of anything off the top of my head that would cause the problem. Would you mind providing the following, please?

* Screenshot, so I can visualize the problem better
* In a terminal, please run `ls -al $HOME/Library/Reminders/Container_v1/Stores` and paste the output here

I'll probably have more questions, so please bear with me.

Thanks!

[2021-01-06 02:46] davidlday commented on #17
@Bluechroma - I'm not seeing the screenshots. If you sent them as an attachment in your email, they didn't show up. Can you try uploading them directly on GitHub, pls? Thank you!

[2021-01-07 06:21] Bluechroma commented on #17
![Screen Shot 2021-01-05 at 2 11 02 PM](https://user-images.githubusercontent.com/76921375/103858582-a04a5d80-5086-11eb-9a37-e2c52132b905.png)
![Screen Shot 2021-01-05 at 2 13 54 PM](https://user-images.githubusercontent.com/76921375/103858614-a9d3c580-5086-11eb-85df-41b982ac7ec3.png)

[2021-01-08 16:59] davidlday commented on #17
One of your files above looks huge. Can you send me a couple more things, pls?

* A screenshot of Reminders
* Another listing of the Reminders directory using `ls -alh $HOME/Library/Reminders/Container_v1/Stores` (add the `h` flag)

Also, can you confirm again your OS? The dock in your top screenshot looks like Big Sur, not Catalina. Probably makes no difference, but just want to be sure.

[2021-01-08 22:06] Bluechroma commented on #17
I'm running Catalina with custom icons on the dock, that's probably why it looks like Big Sur.

here's a screenshot of Reminders
![Screen Shot 2021-01-08 at 5 01 41 PM](https://user-images.githubusercontent.com/76921375/104069813-93875000-51d3-11eb-89a8-da71cba5558a.png)

Last login: Thu Jan  7 20:14:26 on console
micky@Mickys-iMac ~ % ls -alh $HOME/Library/Reminders/Container_v1/Stores
total 8013

[2021-02-17 11:20] davidlday commented on #17
@Bluechroma - Sorry for not getting back to you sooner.

I'm honestly not sure what's going on here. Unfortunately everything about the todo database is undocumented. If you're willing to try some queries and post results, we might make some progress.

Let's start with:

[code]
 You should get a list of all your lists, like:

[code]

[2021-02-19 00:26] Bluechroma commented on #17
I've been removing and adding some lists so that original one is no longer listed. It seems they only show when I sync to iCloud. I ran the command with the largest sqlite file listed and got this:

 micky@Mickys-iMac ~ % sqlite3 "file:$HOME/Library/Reminders/Container_v1/Stores/Data-31C2D823-75B2-4202-9496-E939AB26AA30.sqlite?mode=ro" "SELECT Z_ENT, ZNAME, ZNAME1 FROM ZREMCDOBJECT WHERE Z_ENT = 2

[2021-02-19 16:42] mamutou opened #18 "Suport issue of macOS big sur"
Is this plug have Suport issue of macOS big sur？
After updated from MacOS 10.5 to 11.2.1， this Reminderswidget don‘t work anymore. But other of the wigdget works well.
Do you have any idea to solve this?
Thanks.

[2021-02-19 16:43] mamutou commented on #18
![image](https://user-images.githubusercontent.com/77874808/108533948-8335bb00-72d1-11eb-95c1-cb1bcc04a945.png)

[2021-02-19 16:44] mamutou commented on #18
By the way, I love this ReminderWidget!! Thank you for your work.

[2021-02-27 20:26] davidlday commented on #18
@mamutou  - apologies for not responding sooner. Yes, this runs on Big Sur, but you may need to upgrade to the latest version of this plugin. You might also run "Refresh All Widgets" to force a refresh. Let me know.

[2021-02-27 20:28] davidlday commented on #17
@Bluechroma  - Are you saying the widget is working for you now, or do you still need some help troubleshooting? Happy to help still if you need it.

[2021-02-28 22:13] Bluechroma commented on #17
Yes and No. It's still not working for me right away, so I hid all the reminder lists that were problems and I only allowed a new list with a new name.  So its working for what I need it for but it seems like iCloud is not purging the older/previous lists. I'll need to figure out why these lists are not going away for me, so it doesn't seem like it's on your end. Thanks for the help though.

[2021-03-01 08:33] mamutou commented on #18
I tried again by following the way you said，it seems do not work.  I also reinstalled the MacOS, only got the same result. And the wigdget or Ubersicht is newest version. Thank you anyway.

[2021-03-01 11:12] davidlday commented on #17
Issue does not appear to be with the widget.

[2021-03-21 19:06] davidlday commented on #17
This is an issue with the widget - was finally able to reproduce. Will have a fix out shortly.

[2021-03-21 19:08] davidlday commented on #17
Lists and/or Tasks that have been deleted are not getting filtered out.

[2021-03-21 19:15] davidlday commented on #17
Fixed via #19

[2021-03-21 19:15] #17 closed

[2021-03-21 19:20] davidlday opened #20 "Specify Lists to Show"
Provide an option to specify which lists to show. This would be counter to "listsNotToShow" option. User would have to pick one or the other, but not both. List would also specify order lists are shown in.

[2021-03-21 19:26] davidlday opened #21 "Reminders JSON"
Create a more natural form of JSON from the queries. Should be something like:

[code]

[2021-04-25 11:23] tiziano149 opened #22 "Black unformatted text at startup and random disappearing."
Text appears black and unformatted, after the 'refreshFrequency' time has passed (6000ms), it jumps to the defined theme and correct formatting. After a while the widget vanishes to never comeback unless I refresh übersicht or restart. Following issues in the debug console:
![Bildschirmfoto 2021-04-25 um 13 18 10](https://user-images.githubusercontent.com/16635297/115991535-34eeb200-a5c9-11eb-91d9

[2021-05-06 13:40] davidlday commented on #22
I suspect you don't have bash available. I have a few questions:

1) Is this a newer Mac?
2) What shell do you use by default (bash, zsh, etc)?
3) Can you open a terminal, go to the `reminders.widget` directory, and run `./pending.sh`? Post the output here, pls.

[2021-06-12 02:31] hepcat72 opened #23 "Any tips?"
Hi,

I've been working for the last week or 2 to try and write a script to synch reminders with my raspberry pi in order to trigger automations based on reminder completion events.  I had tried a Siri Shortcut (which succeeds reasonably quickly, but it annoying to repeatedly run) and various versions of an AppleScript, which runs much slower, but is unreliable, due to tccd and the size of my remin

[2021-06-12 02:40] hepcat72 commented on #23
Oh gee, like how to sift through the duplicates to get the latest version of a reminder...

[2021-06-13 18:55] davidlday commented on #23
Hey Rob - I didn't encounter anything unexpected when running queries, but I also was very focused on some specific queries. I also made sure I opened the db in read only mode to avoid any accidental updates or deleted. If you haven't discovered them already, two files that might help:

https://github.com/davidlday/RemindersWidget/blob/master/queries.sql - just my scratch pad of queries while tryi

[2021-06-13 18:55] davidlday commented on #22
@tiziano149 - still having this problem, or can I close the issue?

[2021-06-14 15:26] hepcat72 commented on #23
Yes, those files were extremely useful files - saved me a lot of time.  You'd already worked out the hard part.

The one thing I couldn't figure out was how to get the single latest version of a reminder.  There are numerous copies of some reminders (probably because they're recurring - or perhaps also due to edits) - and I want to be able to catch completion (and potentially other) events to use

[2021-06-19 14:48] davidlday commented on #18
@mamutou - sounds like this still isn't working for you, but also sounds like you've moved on. Is that the case? Can I close this issue, or do you still need help?

[2021-06-22 16:25] justeepin opened #24 "No such table error"
When I download and install the RemindersWidget I get the following error (I've not changed anything in the code):
`Error: no such table: Z_PRIMARYKEY
Error: near line 5: near "AND": syntax error
Error: near line 5: near "AND": syntax error
{ "tasks": [  ], "lists": [] }`

I'm on Mac OSX 10.15.7

[2021-06-24 09:34] davidlday commented on #24
Hi - thanks for reporting your issue. Can you please run the following in a terminal and post the results:

[code]

Let me know if you have any questions.

[2021-06-24 13:36] justeepin commented on #24
Here's the output.
CC-X24RMD6R:~ kidddw$ cd "$HOME/Library/Application Support/Übersicht/widgets/reminders.widget"
CC-X24RMD6R:reminders.widget kidddw$ ./pending.sh
Error: no such table: Z_PRIMARYKEY
Error: near line 5: near "AND": syntax error
Error: near line 5: near "AND": syntax error
{ "tasks": [  ], "lists": [] }

[2021-06-28 22:37] davidlday commented on #24
This has me a bit stumped. I hate to ask, but do you have items in you To Do lists?

Also, can you list out the following directory for me:

[code]

[2021-06-29 20:37] justeepin commented on #24
Yes, I have a todo in one of my lists in the Reminders app.

Here's the output:
Data-37FA6822-CCA2-4605-9CA9-793260AD6574.sqlite
Data-37FA6822-CCA2-4605-9CA9-793260AD6574.sqlite-shm
Data-37FA6822-CCA2-4605-9CA9-793260AD6574.sqlite-wal
Data-8ECAA723-EFB5-429D-B009-7794970E99D2.sqlite
Data-8ECAA723-EFB5-429D-B009-7794970E99D2.sqlite-shm
Data-8ECAA723-EFB5-429D-B009-7794970E99D2.sqlite-wal
Data-C6387

[2021-07-06 12:56] justeepin commented on #24
I'm thinking it's something on my end. I tried two other widgets that access the Reminders app and they can't connect either. Sorry, I should have tried them before I posted an issue. I'm overdue for doing a clean install of the OS so maybe it'll work after that

[2021-07-08 22:45] davidlday commented on #24
No worries. Let me know your outcome after a clean install. I'll leave this open for now.

[2021-08-17 14:20] hepcat72 commented on #23
I'm running into an issue where my obtained due date is wrong for a reminder titled "Recycling is every other Monday".  I cannot seem to work out the logic of obtaining the correct due date from the latest entries.  Maybe you know how to determine it?  The next due date displayed in the reminders app for this recurring event, whose only incomplete entry returned is August 22nd, 2021 (or 2021-08-22

[2021-08-19 14:01] hepcat72 commented on #23
OK.  Never mind.  Turned out to be a synch issue.  My computer's reminder's app disagreed with my phone.  Turning the synch off & on solved it.

[2021-08-24 12:52] #22 closed

[2021-08-28 16:20] #18 closed

[2021-09-21 20:00] #24 closed

[2021-10-27 12:37] coolajami opened #25 "MacOS Monterey Support"
Hi
I've just updated MacOS on 12.0.1 version (Monterey) and I'm getting the following error:

JSON Parse Error: Unexpected token ','

The widget worked fine on MacOS 11 and I've made no other changes to the setup. I"m not sure what's going on and I'm terrible in troubleshooting code :(

[2021-10-30 13:24] davidlday commented on #25
I just updated to Monterey and did not experience this issue. I'm leaving this open for now to see if anyone else has the problem. In the meantime, I'll see if I can figure out how to have the script figure out if it should use ZNAME1 or ZNAME2.

[2021-11-01 05:38] baracude commented on #25
When I changed pending.sh I get "bash: reminders.widget/pending.sh: /bin/bash: bad interpreter: Operation not permitted" error.
Any ideas on how to solve this?

And yes, I've set permission for Übersicht to access reminders in security and privacy setting

[2021-11-02 02:42] baracude commented on #25
Thank you! I used CotEditor. Using VSCode solved the problem!

[2021-11-07 13:49] tiziano149 commented on #25
had the exact same issue, will report if I get it fixed.

JSON Parse Error: Unexpected token ','

[2021-11-07 13:57] tiziano149 commented on #25
this worked, though the line numbers were different. Weird...

[2021-11-11 19:11] coolajami commented on #25
Weirdly it does work for me when I've  the Ubersicht but after a while, randomly gives me the following error:

`Error: Error: database is locked reminders.widget/pending.sh: line 29: [: : integer expression expected Error: no such table: Z_PRIMARYKEY Error: near line 5: near ";": syntax error Error: near line 5: near "AND": syntax error { "tasks": [ ], "lists": [] }
`
Also I get other errors as w

[2021-11-11 19:19] alins commented on #25
pure guess on my part, I think `database is locked` shows up if the script runs while reminders app is refreshing in the background. probably reminder app locks the database for a little bit. i've seen it happening, but pretty rare.

i did increase the frequency to 30 seconds so the script doesn't run that often... seems to help with the whole database lock in my case.

I will probably increase th

[2021-11-11 19:41] coolajami commented on #25
Thank you, that actually seem to solve the issue. LOL I actually reduced the refresh rate the few days trying to troubleshoot the issue 🤦

[2021-11-17 13:48] #23 closed

[2021-11-17 15:18] coolajami commented on #25
Unfortunately, the problem still happens! Not sure why, no I'm gettin another error in the debug console:

`Failed to load resource: the server responded with a status of 500 (Internal Server Error)`

Followed by the 'database is locked error'

🙄

[2022-01-28 14:28] hepcat72 commented on #23
I discovered a new edge-case issue today. Turns out I had 2 reminders with the same title in the same list (though different sub-lists). One had notes and the other didn't.

In my script that detects changes to reminders, I associate separate DB entries using list and title in order to know when separate recurrence entries are from the same reminder. But in this case, it thinks those 2 separate en

[2022-01-31 22:07] coolajami commented on #25
I think I found a workaround to my problem above and bang my head why I haven't thought of it before.

 I've unchecked the "_Load bash env_" in the options menu, and now the widget is stable again. I don't have a clue how this option affects the operation of the widgets, but it does seem to do the trick with the database error. Though to report it, just in case it is useful.

[2022-02-28 16:28] hepcat72 commented on #25
I just fixed my own reminders sqlite script and came here to see what other potential problems you guys may have run into that I have not yet encountered after updating to Monterey...

I have a very large reminders DB and what I am seeing is that some list names are still in `ZNAME1` and others are in `ZNAME2`.  So you have to select both and figure out which one contains the list name because I h

[2022-10-24 23:49] coolajami opened #26 "MacOS Ventura Support"
Oh boy, it is the time of the year for the annual gathering regarding this thing that Apple decided to change on the new version of the Reminders.app, causing the widget not to work.
This time the problem seems to be the due date of the reminders. I'm getting the following error:

[code]

As it is accustomed, the usual disclaimers apply, the widget was working fine before updating to Ventura and n

[2022-10-27 02:17] doitonce commented on #26
I get the following message

Parse error near line 5: no such column: TASK.ZDUEDATE
  SELECT strftime('%Y-%m-%dT%H:%M:%S',(978307200 + TASK.ZDUEDATE),'unixepoch') a
                                     error here ---^
{ "tasks": [  ], "lists": ["미리 알림","가족"] }

[2022-11-01 02:07] baracude commented on #26
I've fixed it.

In pending.sh file change following lines

Line 81 : `TASK.ZTITLE1 AS title,` to `TASK.ZTITLE AS title,`
Line 85 : `FROM ZREMCDOBJECT TASK LEFT ...` to `FROM ZREMCDREMINDER TASK LEFT ...`

Now it works.

[2022-11-01 07:15] doitonce commented on #26
Thanks for your help.
However, there is an error even after editing.

JSON Parse error: Unexpected token ','
<img width="809" alt="iShot_2022-11-01_16 14 01" src="https://user-images.githubusercontent.com/116776354/199179278-051fbc13-2345-45fe-8d8c-5295bb03109c.png">

[2022-11-01 07:21] doitonce commented on #26
I just solved it. thank you
<img width="845" alt="iShot_2022-11-01_16 21 31" src="https://user-images.githubusercontent.com/116776354/199180332-51881f64-2d62-4396-bc06-ca198723fb11.png">

[2022-11-01 07:36] baracude commented on #26
Oh! I forgot I’ve changed to ZNAME2 already during Monterey upgrade.
Thanks for pointing it out.

[2022-11-02 11:34] coolajami commented on #26
Thank you very much @baracude! Works great!